button:hover{

    transform:scale(1.05);

    transition:0.3s;
}

.container{

    border-radius:25px;

    box-shadow:
        0 10px 30px rgba(255,255,255,0.2);
}

@media(max-width:768px){

    .container{
        width:95%;
    }
}